@font-face {
  font-family: 'Pridi';
  src: url('/fonts/Pridi-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pridi';
  src: url('/fonts/Pridi-SemiBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mitr';
  src: url('/fonts/Mitr-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mitr';
  src: url('/fonts/Mitr-SemiBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

:root {
  font-size: 18px;
}

html,
body {
  margin: 0;
  width: 100%;
}

body {
  padding: 0 1.5rem;
}

h1 {
  font-family: 'Mitr', sans-serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  @apply text-yellow-500;
}

h2 {
  font-family: 'Mitr', sans-serif;
}

p {
  margin-block: 1rem;
}

p:last-child {
  margin-bottom: 0;
}

ol, ul {
  padding-inline-start: 40px;
}
ol {
  list-style: decimal;
}
ul {
  list-style: disc;
}
ul ul, ol ul {
  list-style: circle;
}

a {
  @apply text-yellow-500 hover:text-yellow-400;
  transition-duration: 0.2s;
}