---
import MarkdownLayout from "../layouts/MarkdownLayout.astro";
---
<MarkdownLayout>
  <h1 class="text-center">
    อนุสรณ์งานฌาปนกิจศพ<br />
    นายนพพร สุวรรณิก
  </h1>
  <p class="text-center">
    ณ วัดสระเกศ ราชวรมหาวิหาร<br />
    เขตป้อมปราบศัตรูพ่าย กรุงเทพมหานคร<br />
    วันที่ 22 ธันวาคม 2567<br />
    เวลา 17.00 น.        
  </p>

  <h1 class="mt-12 text-center">สำนึกในพระมหากรุณาธิคุณ</h1>
  <p>
    เมื่อความทราบใต้ฝ่าละอองพระบาท นายนพพร <span class="whitespace-nowrap">สุวรรณิก</span>
    ได้ถวายบังคมลาถึงแก่อนิจกรรม เมื่อวันที่ 24 กรกฎาคม 2567 การนี้
    สมเด็จพระกนิษฐาธิราชเจ้า กรมสมเด็จพระเทพรัตนราชสุดาฯ สยามบรมราชกุมารี
    ทรงพระกรุณาโปรดเกล้าโปรดกระหม่อมพระราชทานผ้าไตรบังสุกุล เพื่อพิธีฌาปนกิจ
    ณ ศาลาบำเพ็ญกุศล (ศาลาใหญ่) วัดสระเกศ ราชวรมหาวิหาร เขตป้อมปราบศัตรูพ่าย กรุงเทพมหานคร
    ในวันอาทิตย์ที่ 22 ธันวาคม 2567 เวลา 17.00 น. 
    พระมหากรุณาธิคุณที่พระราชทานแก่นายนพพร สุวรรณิก นับเป็นเกียรติอย่างยิ่งแก่ผู้วายชนม์
    ข้าพระพุทธเจ้าทั้งปวงรู้สึกสำนึกในพระมหากรุณาธิคุณเป็นล้นพ้น อย่างหาที่สุดมิได้
    และขอเทิดทูนไว้เหนือเกล้าเหนือกระหม่อมเพื่อเป็นสิริมงคลแก่วงศ์ตระกูลสืบไป
  </p>
  <p>
    ควรมิควรแล้วแต่จะทรงพระกรุณาโปรดเกล้าโปรดกระหม่อม
  </p>
  <p class="text-center">
    นางสุพัตรา สุวรรณิก<br />
    นายสุพริศร์ สุวรรณิก
  </p>
</MarkdownLayout>