---
import Layout from '../layouts/Layout.astro'
import coverImage from '../images/cropped.jpg'
import { Image } from 'astro:assets'
import NavCard from '../components/NavCard.astro'
import Button from '../components/Button.astro'

const links = [
  { label: 'ประวัติ', href: '/life' },
  { label: '12 ข้อคิดเพื่อชีวิตที่งดงาม', href: '/teachings' },
  { label: 'คำไว้อาลัย', href: '/tributes' },
  { label: 'ภาพความทรงจำ', href: '/gallery' },
  { label: 'บทสดุดี', href: '/poem' },
]
---

<Layout>
  <div class="flex flex-col items-center justify-center sm:h-screen mt-12">
    <div>
      <div class="flex flex-col lg:flex-row items-center sm:gap-4">
        <Image src={coverImage} alt="cover" class="w-1/2 min-w-[250px] max-h-[60vh] mb-4 object-contain rounded-full" />
        <div class="flex-grow">
          <div class="text-center">
            <p class="text-4xl mb-4 font-flourished">นายนพพร สุวรรณิก</p>
            <p class="text-2xl font-flourished">
              ชาตะ 30 กรกฎาคม พ.ศ. 2494<br />
              มรณะ 24 กรกฎาคม พ.ศ. 2567
            </p>
            <p class="mt-8">
              อนุสรณ์งานฌาปนกิจศพ<br />
            </p>
            <p class="">
              ณ วัดสระเกศ ราชวรมหาวิหาร<br />
              เขตป้อมปราบศัตรูพ่าย กรุงเทพมหานคร<br />
              วันที่ 22 ธันวาคม 2567<br />
              เวลา 17.00 น.        
            </p>
            <p>
              <a href="/gratitude">ด้วยสำนึกในพระมหากรุณาธิคุณ</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 lg:block gap-4 my-8">
      {links.map((link) => (
        <NavCard {...link} />
      ))}
    </div>
  </div>

</Layout>
