---
import MarkdownLayout from "../layouts/MarkdownLayout.astro";

const poem = `สุภาพบุรุษ จิตใจดี มีเมตตา
ใครพบพา รักใคร่ แสนสุขี
อัธยาศัย ดีเลิศ เปี่ยมไมตรี
เอ่ยนามนี้ คนนึกออก “คุณนพพร”
นักธุรกิจ มองการณ์ไกล หาใครเทียบ
ความคิดเฉียบ หลักแหลม ชาญสมร
บริหาร ความขัดแย้ง ด้วยประนอม
ทางออกพร้อม ช่วยเหลือผู้ คนมากมาย
เป็นวิศวกร ผู้บุกเบิก ลานกระบือ
ได้ขึ้นชื่อ เก่งชำนาญ การหลากหลาย
รอบรู้จริง สื่อสารคม ไม่เสื่อมคลาย
ปิยวาจา คมคาย คำรื่นรมย์
ซื่อสัตย์แท้ ยุติธรรม เปี่ยมในจิต
ดำเนินชีวิต เปี่ยมศักดิ์ศรี ให้ได้สม
เป็นลูกหมอ ร่มไทร คนชื่นชม
คุณกำนล อบรมไว้ ไม่ลืมคุณ
เป็นบุตรดี ตอบแทน คุณพ่อแม่
เป็นมิตรแท้ เคียงเพื่อน คอยเกื้อหนุน
เป็นสามี ผู้ประเสริฐ เลิศการุณย์
เป็นบิดา ผู้อบอุ่น ต้นแบบจริง
เป็นนักสู้ ก่อตั้ง ธุรกิจ
เป็นกัลยาณมิตร พี่น้องรัก สมถวิล
สู้โรคภัย ใจเด็ดเดี่ยว ไม่ไหวติง
หัวใจสิงห์ ขอยกย่อง สดุดี
ร้องเพลงเก่ง มีเสน่ห์ น่ารู้จัก
ไม่แปลกนัก คนรักมาก ให้เป็นศรี
รู้เรื่องรถ อันดับหนึ่ง คนรู้ดี
มีความคิด ร่วมสมัย ในทุกกาล
เมื่อมีพบ ก็ต้อง มีวันจาก
แต่ได้ฝาก ความดีไว้ ให้ขับขาน
ฝากคำสอน อย่าประมาท ชีพไม่นาน
เร่งทำดี กุศลการ สั่งสมบุญ
ขอคุณพระ รัตนตรัย คุ้มครองท่าน
ให้เกษมสันต์ ทุกภพชาติ มีทุนหนุน
สัมปรายภพ มีกุศล ช่วยค้ำจุน
เป็นมรรคหนุน สู่นิพพาน สำเร็จเทอญ`.split('\n')
---
<MarkdownLayout
  title="บทอนุสสรณ์" 
>
  <div id="poem-wrapper">
    <div class="grid grid-cols-1 w-fit sm:grid-cols-2 mx-auto my-4 gap-x-4">
      {poem!.map((line, i) => (
        <div class={`${i % 4 === 3 ? 'mb-4' : ''} ${i % 4 === 0 ? 'pl-8' : ''}`}>{line}</div>
      ))}
    </div>
  </div>
  <div class="text-center">
    สุพริศร์ สุวรรณิก<br />
    ผู้ประพันธ์
  </div>
</MarkdownLayout>
