---
import MarkdownLayout from "../layouts/MarkdownLayout.astro";

const tributes = {
  family: {
    title: "อาลัยรักจากครอบครัว",
    data: Object.values(import.meta.glob('../content/tributes/family/*.md', { eager: true })),
  },
  friends: {
    title: "อาลัยรักจากเพื่อน ๆ",
    data: Object.values(import.meta.glob('../content/tributes/friends/*.md', { eager: true })),
  },
  colleagues: {
    title: "อาลัยรักจากหุ้นส่วนธุรกิจและน้อง ๆ ที่ทำงาน",
    data: Object.values(import.meta.glob('../content/tributes/colleagues/*.md', { eager: true })),
  },
  acquaintances: {
    title: "อาลัยรักจากพี่ ๆ น้อง ๆ",
    data: Object.values(import.meta.glob('../content/tributes/acquaintances/*.md', { eager: true })),
  },
}
---
<MarkdownLayout
  title="คำไว้อาลัย"
>
  {
    Object.keys(tributes).map((key) => (
      <details open={key === 'family'}>
        <summary class="sticky top-0 mb-4 cursor-pointer hover:text-yellow-500 transition-colors p-4 bg-blue-900 rounded-xl font-heading">{tributes[key].title}</summary>
        {tributes[key].data.map((tribute) => (
          <div class="mb-8 mx-3 sm:border border-sky-700 sm:rounded-xl sm:p-8 sm:bg-black/20">
            <div class="text-xl text-yellow-500">{tribute.frontmatter.title}</div>
            <div>{tribute.frontmatter.subtitle}</div>
            <tribute.Content />
          </div>
        ))}
      </details>
    ))
  }
  
</MarkdownLayout>