---
import MarkdownLayout from "../layouts/MarkdownLayout.astro";

const tributes = Object.values(import.meta.glob('../content/tributes/*/*.md', { eager: true }));
---
<MarkdownLayout
  title="คำไว้อาลัย"
>
  {tributes.map(tribute => (
    <div class="mb-8 border-2 border-slate-700 rounded-lg p-8">
      <div class="text-xl">{tribute.frontmatter.title}</div>
      <div>{tribute.frontmatter.subtitle}</div>
      <tribute.Content />
    </div>
  ))}
  
</MarkdownLayout>