---
import Layout from "./Layout.astro";

const { title, subtitle } = Astro.props
---
<Layout>
  <div id="markdown-content" class="max-w-3xl mx-auto pt-20 pb-20">
    <div class="mb-12">
      <h1 class="text-center">{title}</h1>
      {subtitle &&
        <div class="text-center">{subtitle}</div>
      }
    </div>
    <slot />
  </div>
</Layout>