---
import Button from "../components/Button.astro";
import Layout from "./Layout.astro";

const { lang="th", title, subtitle } = Astro.props
---
<Layout lang={lang}>
  <div id="markdown-content" class="max-w-3xl mx-auto pt-20 pb-20">
    <div class="mb-12">
      <h1 class="text-center">{title}</h1>
      {subtitle &&
        <div class="text-center">{subtitle}</div>
      }
    </div>
    <slot />
    <div class="mt-8 flex justify-center">
      <Button href="/" label=`${lang === "th" ? "หน้าหลัก" : "Home"}` />
    </div>
  </div>
</Layout>